<div class="toolbar-wrapper">
  <nav>
    <div class="first-line layout">
      <div class="container">
        <div class="left">
          <a [routerLink]="['/']" class="logo"></a>
         
        </div>

        <div class="center"></div>

        <div class="right">
         
        </div>
      </div>
    </div>
    <div class="second-line layout">
      <div class="container">
        <div class="left" >
          

        </div>
        <div class="center">
          
        
        <div class="right">
         
         
        </div>

       
        </div>
      </div>
    </div>    
  </nav>
</div>
