<div class="user-wrapper layout">
    <div class="container user">
        <div *ngIf="step === 1">
            <div class="title">Stand for your rights and accomplish your citizen duty. (1/4)</div>
            <div class="subtitle">Time to vote, select the right one.</div>
            <div class="content">
                <mat-selection-list #campagn [multiple]="false">
                    <mat-list-option *ngFor="let campagn of campagns" [value]="campagn" [disabled]="!checkAvailability(campagn)">
                        <b>{{campagn.name}}</b> <br />
                        <div class="option-dates" *ngIf=checkAvailability(campagn)>Open until {{campagn.timeEnd  | date:'dd/MM/yyyy HH:mm' }}</div>
                        <div class="option-dates" *ngIf=!checkAvailability(campagn)>Voting campaign is definitely closed</div>
                        <div *ngIf=!checkAvailability(campagn)>{{getCampagnResult(campagn)}}</div>
                    </mat-list-option>
                </mat-selection-list>
                <div class="campaign-selected" *ngIf="campagn.selectedOptions.selected[0]">
                    Your choice : {{campagn.selectedOptions.selected[0]?.value.name}}
                </div>
            </div>
            <div class="actions">
                <button (click)="selectCampaign(campagn.selectedOptions.selected[0]?.value)" *ngIf="campagn.selectedOptions.selected[0]" >Next</button>
            </div>
        </div>


        <div *ngIf="step === 2">
            <div class="title">
                Your participation confirm you will. (2/4)
            </div>
            <div class="subtitle">Don't underestimate the force of your vote.</div>
        
            <div class="actions">
                <button (click)="confirmParticipation()">I confirm</button>
            </div>
            <div id="loadingDiv"  *ngIf="hasConfirm">
                <div class="container-patience">
                    <div>Your answer is sent to the blockchain. <br/>
                    May the patience be with you...
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="step === 3">
            <div class="title">
                Time to act, take the vote. (3/4)
            </div>
            <div class="subtitle">Immutable will be your action.</div>
            <div class="content">  
                <p class="descr">
                    Should the force banish Darth Vader once for all ?
                </p>
                <div>
                    <div class="candidate candidate-one"></div>
                </div>
            </div>
            <div class="actions">
                    <button (click)="registerVote(0)">For</button>
                    <button (click)="registerVote(1)">Against</button>
                    <button (click)="registerVote(3)">Abstain</button>
            </div>

            <div id="loadingDiv"  *ngIf="hasVoted">
                <div>
                    <div class="container-patience">
                        <div>Your answer is sent to the blockchain. <br/>
                        May the patience be with you again...
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div *ngIf="step === 4">
            <div class="title">
                Dear citizen, you've completed your duty.
            </div>
            <div class="subtitle">Secrecy is sealed by the Force.</div>
            <div class="content descr" *ngIf="hash">
                Your vote is now part of the Luxembourg intergalactic public blockchain. <br />


                Here is your hash : 
                <div class="campaign-selected hash" *ngIf="hash" >
                   {{hash}}
                </div>
            </div>
            <div class="actions">
                <button (click)="seeResults()" *ngIf="hash">See results</button>
            </div>
        </div>

        <div *ngIf="step === 5">
            <div class="title" *ngIf="forVotes || againstVotes">
                The Force has spoken.
            </div>
            <div class="title" *ngIf="!forVotes && !againstVotes">
                The Force hasn't spoken yet.
            </div>
            <div class="subtitle"></div>
            <div class="content descr">
                <div class="campaign-selected" *ngIf="forVotes || againstVotes">
                    <div *ngIf="forVotes > againstVotes">Darth Vader is bannished !!<br /> Get out !<br /><div>For:{{forVotes}} - Against: {{againstVotes}}</div></div>
                    <div *ngIf="forVotes < againstVotes">Darth Vader remains !<div>For : {{forVotes}} - Against : {{againstVotes}}</div></div>
                    <div *ngIf="forVotes === againstVotes">Next time the Force will be with you.<div>For : {{forVotes}} - Against : {{againstVotes}}</div></div>
                </div>
            </div>
            <div class="actions" *ngIf="!forVotes && !againstVotes">
                <button (click)="refreshResults()">Refresh</button>
            </div>
        </div>
    </div>
</div>
