
.user-wrapper{
    width: 100%;
    margin: 0px auto;

    .container{
        @media (max-width: 800px) {
            width:100%;
          }
      
        width:40%;
        margin: 0px auto;
        .title{
            font-weight: bolder;
            font-size: 20px;
            padding-bottom: 5px;

        }
        .subtitle{
            font-size: 17px;
            padding-bottom: 25px;
        }

    
        .campaign-selected{
            margin : 25px;
            padding: 25px;
            border-radius: 25px;
            border: 3px dashed yellow;
            background: black;
            color: yellow;
            text-transform: uppercase;
            font-weight: bolder;
            &.hash{
                font-size: small;
                word-break: break-all;
            }
        }

        

        .actions{
            text-align: center;

            button{
                border: none;
                text-transform: uppercase;
                background-color: black;
                color: yellow;
                margin : 2px;
                &:hover{
                    filter: brightness(150%);
                }
            }
            
        }
    }

       
        .mat-list-base .mat-list-item {
            height: 120px;

        .mat-list-text , .mat-list-base .mat-list-option .mat-list-text {
            padding: 20px;
            .option-dates{
                padding-left: 20px;
                font-size: 14px;

        }
    }
    }


.candidate{
    width: 250px;
    height: 166px;
    margin: 0 auto;
    margin-bottom: 25px;

    &.candidate-one{
        background: url("../../../assets/images/dark.jpg") no-repeat center;
        background-size: auto 100%;
    }
}

.container-patience{
    display: flex;
    margin: 35vh auto;
    text-align: center;
    width: max-content;
    font-weight: bolder;
    padding: 10px;
    @media (max-width: 800px) {
        background-color: white;
        margin: 20vh auto;
    }
}

#loadingDiv{
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#666;
    background-image:url('../../../assets/images/loading.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    @media (max-width: 800px) {
        width: -webkit-fill-available;
        background-size: auto 25%;
      }
  }

  .mat-list-item-disabled {
      opacity: 0.3;
  }
}

.descr{
        padding-bottom: 25px;    
}