<div class="user-wrapper layout">
    <div class="container user">
        <div *ngIf="step === 1">
            <div class="title">Select a campagn</div>
            <div class="content">
                <mat-selection-list #campagn [multiple]="false">
                    <mat-list-option *ngFor="let campagn of campagns" [value]="campagn" [disabled]="!checkAvailability(campagn)">
                        {{campagn.name}} - {{campagn.timeBegin | date:'yyyy-MM-dd HH:mm'}} - {{campagn.timeEnd | date:'yyyy-MM-dd HH:mm'}} - {{getCampagnResult(campagn)}}
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Campagn selected: {{campagn.selectedOptions.selected[0]?.value.name}}
                </p>
            </div>
            <div class="actions">
                <button (click)="selectCampaign(campagn.selectedOptions.selected[0]?.value)" *ngIf="campagn.selectedOptions.selected[0]" >Next</button>
            </div>
        </div>


        <div *ngIf="step === 2">
            <div class="title">
                Confirm your presence
            </div>
            <div class="content">
                    I confirm my participation to the vote of {{this.campagn.name}}
            </div>
            <div class="actions">
                <button (click)="confirm()">I confirm</button>
            </div>
        </div>


        <div *ngIf="step === 3">
            <div class="title">
                Please make your choice
            </div>
            <div class="content">  
            Social elections take place every 5 years. 
            On this occasion, the employees elect members of the staff delegation in their company : 
            <div>
                <div class="candidate candidate-one"></div>
                Do you support this candidate ?
                <button (click)="registerVote(0)">For</button>
                <button (click)="registerVote(1)">Against</button>
                <button (click)="registerVote(3)">Abstain</button>
            </div>
        </div>
        <div id="loadingDiv" style="display:none;">
            <div>
                <span>Please wait...</span>
            </div>
        </div>


        <div *ngIf="step === 4">
            <div class="title">
                Thank you for your participation
            </div>
            <div class="content">
                To register your vote, we used the public blockchain. <br />
                At this last step, you can check if your vote has been correctly registered. <br />
                Do you want to check ? 
            </div>
            <div class="actions">
                <button (click)="checkMyVotes()">Yes</button>
                <button (click)="next()">No</button>
            </div>
        </div>
    </div>
</div>
