.candidate{
    width: 150px;
    height: 200px;
    

    &.candidate-one{
        background: url("../../../assets/images/candidat1.jpg") no-repeat center;
        background-size: auto 100%;
    }
    &.candidate-two{
        background: url("../../../assets/images/candidat2.jpg") no-repeat center;
        background-size: auto 100%;
    }
    &.candidate-three{
        background: url("../../../assets/images/candidat3.jpg") no-repeat center;
        background-size: auto 100%;
    }



    #loadingDiv{
        position:fixed;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        background-color:#666;
        background-image:url('../../../assets/images/loading.gif');
        background-repeat:no-repeat;
        background-position:center;
        z-index:10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
      }


}