<div class="pagination">
  <div class="pages">
    <div class="prev" *ngIf="page > 0" (click)="prev()">
      <em class="icon-caret-left"></em>
    </div>
    <ng-container *ngIf="!trim">
      <div class="page" *ngFor="let _ of pages; let i = index"
           [class.active]="(i * itemCount) === offset" (click)="openPage(i)">
        {{ i + 1 }}
      </div>
    </ng-container>
    <ng-container *ngIf="trim">
      <div class="page" *ngFor="let i of trimPages;"
           [class.active]="(i * itemCount) === offset" (click)="openPage(i)">
        {{ i + 1 }}
      </div>
      <div class="more" *ngIf="(page + 5) < pages.length">...</div>
      <div class="page" *ngIf="(page + 5) < pages.length" [class.active]="(pages.length * itemCount) === offset"
        (click)="openPage(pages.length - 1)">{{pages.length}}</div>
    </ng-container>

    <div class="next" *ngIf="((page + 1) * itemCount) < count" (click)="next()">
      {{'next' | translate}} <em class="icon-caret-right"></em>
    </div>
  </div>
</div>
