<div [class.active]="_action && (_action.blockUI || _action.action)" class="overlay">&nbsp;</div>

<div class="validate-box" id="validate-box" [class.active]="_action"
     [class.alt]="_action && _action.action" [class.deactive]="remove">
    <div>
      <div (click)="dismiss()" class="close-button"><i class="material-icons">cancel</i></div>
    </div>

  <ng-container *ngIf="_action && !_action.action">
    <div (click)="dismiss()" class="close-button"><i class="material-icons">cancel</i></div>
  </ng-container>
</div>

<ng-container *ngIf="modal && modal.add">
  <div [id]="modal.name" class="modal-box flex-container">
    <div [class.animate]="modal.animateOverlay" class="overlay"
         (click)="(modal.blockUI) ? '' : closeModal(false)"></div>
    <div [class.animate]="modal.animateModal" class="modal">
      <div (click)="closeModal(false)" class="close-button"><i class="material-icons">close</i></div>
      <ng-container *ngTemplateOutlet="modal.content"></ng-container>
    </div>
  </div>
</ng-container>
