<div [class.alt]="data.rows && data.rows.length === 0" [id]="name" [class.dark]="data.style.darkRows" class="accordion-table">
  <div class="overflow-right"></div>
  <div class="overflow-left"></div>
  <div [class.empty-state]="data.rows && data.rows.length === 0" [class.dark]="data.style.darkRows" class="table acc-table">
    <div [class.display-none]="data.rows && data.rows.length === 0"
         class="row head">
      <ng-container *ngIf="data.style.leftIcon || data.style.leftImage">
        <div class="photo left-photo
          {{tableMobile[0] ? ' table-mobile' : ' table-not-mobile'}}">
          &nbsp;
        </div>
        <div (click)="titleClick($event.target, titleIndex)"
             *ngFor="let title of values; let titleIndex = index"
             class="{{keys[titleIndex]}}
              {{tableSortable[titleIndex] ? 'sortable' : ''}}
              {{tableMobile[titleIndex + 1] ? ' table-mobile' : ' table-not-mobile'}}"
             title="{{title}}" [attr.data-index]="titleIndex + 1" [title]="data.style.headerTooltips[titleIndex + 1] ? data.style.headerTooltips[titleIndex + 1] : '' | translate">
          {{title}}
        </div>
      </ng-container>
      <ng-container *ngIf="!data.style.leftIcon && !data.style.leftImage">
        <div (click)="titleClick($event.target, titleIndex)"
             *ngFor="let title of values; let titleIndex = index"
             class="{{keys[titleIndex]}}
              {{tableSortable[titleIndex] ? 'sortable' : ''}}
              {{tableMobile[titleIndex] ? ' table-mobile' : ' table-not-mobile'}}"
             title="{{title}}" [attr.data-index]="titleIndex" [title]="data.style.headerTooltips[titleIndex] ? data.style.headerTooltips[titleIndex] : '' | translate">
          {{title}}
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="data.rows && data.rows.length === 0">
      <div class="empty-state-wrapper">
        <div [class.dark]="data.style.darkRows" class="empty-state">
          {{(data.style.emptyText || 'noContent') | translate}}
        </div>
        <div [class.dark]="data.style.darkRows" class="empty-state"></div>
        <div [class.dark]="data.style.darkRows" class="empty-state"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="data.rows && data.rows.length > 0">
      <ng-container *ngFor="let row of data.rows; let j = index">
        <div (click)="toggleCollapse(j)"
             id="{{data.idRowPrefix}}{{j}}"
             class="{{'row ar'+j}} {{data.style.accordionRows ? ' accordion' : ''}}
             {{data.style.darkRows ? ' dark' : ''}}">
          <div *ngIf="data.style.leftIcon" [attr.data-index]="0"
               class="photo left-photo {{tableMobile[0] ? ' table-mobile' : ' table-not-mobile'}}">
            <i [class]="row[0]"></i>
          </div>
          <div *ngIf="data.style.leftImage" [attr.data-index]="0"
               class="photo left-photo {{tableMobile[0] ? ' table-mobile' : ' table-not-mobile'}}">
            <div><img [src]="row[0]"/></div>
          </div>
          <ng-container *ngIf="data.style.leftIcon || data.style.leftImage">
            <ng-container *ngFor="let field of row | slice: 1; let i = index">
              <ng-container *ngIf="data.style.customFields[i+1]">
                <div [attr.data-index]="(i+1)"
                     class="{{keys[i]}} {{tableMobile[i + 1] ? 'table-mobile' : 'table-not-mobile'}}">
                  <ng-container
                    [ngTemplateOutletContext]="{name: name, index: j}"
                    [ngTemplateOutlet]="data.style.customFields[i+1]"></ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="!data.style.customFields[i+1]">
                <div [attr.data-index]="(i+1)"
                     class="{{keys[i]}} {{tableMobile[i + 1] ? 'table-mobile' : 'table-not-mobile'}}"
                     title="{{field}}">{{field}}</div>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!data.style.leftIcon && !data.style.leftImage">
            <ng-container *ngFor="let field of row; let i = index">
              <ng-container *ngIf="data.style.customFields[i]">
                <div [attr.data-index]="i"
                     class="{{keys[i]}} {{tableMobile[i] ? 'table-mobile' : 'table-not-mobile'}}">
                  <ng-container
                    [ngTemplateOutletContext]="{name: name, index: j}"
                    [ngTemplateOutlet]="data.style.customFields[i]"></ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="!data.style.customFields[i]">
                <div [attr.data-index]="i"
                     class="{{keys[i]}} {{tableMobile[i] ? 'table-mobile' : 'table-not-mobile'}}"
                     title="{{field}}">{{field}}</div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div *ngIf="data.style.accordionRows" [class]="'accordion-content ac'+j+' collapse'">
          <ng-container
            [ngTemplateOutletContext]="{name: name, index: j}"
            [ngTemplateOutlet]="rowContent"></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
